<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/homepage.js"></script>
    <title>Forever Homes 2</title>
</head>
<body>
    <header>
        <nav>
            <ul id="drop-down" class="closed">
                <li class="nav-link"><a class="nav__button" href="/">Home</a></li>
                <li class="nav-link"><a href="/signup">Register</a></li>
                <li class="nav-link"><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Homepage</h1>
    </main>
    <footer>Jonathan T Crepeau</footer>
</body>
</html>