<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/login.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script defer src="/scripts/app.js"></script>
    <script defer src="/scripts/login.js"></script>
    <title>Forever Homes 2</title>
</head>
<body>
    <header>
        <nav>
            <ul id="drop-down" class="closed">
                <li class="nav-link"><a class="nav__button" href="/login">Login</a></li>
                <li class="nav-link"><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div id="outer-cont">
            <div id="inner-cont">
                <form id="registration-form">
                    <input type="text" id="first-name" name="firstName" placeholder="first name">
                    <input type="text" id="last-name" name="lastName" placeholder="last name">
                    <input type="email" id="email" name="email" placeholder="email">
                    <input type="password" id="password" name="password" placeholder="password">
                    <button id="signup">create</button> 
                    <p class="message">Already registered? <a>Sign In</a></p>
                </form>
                <form id="login-form">
                    <input type="email" id="login-email" name="email" placeholder="email">
                    <input type="password" id="login-password" name="password" placeholder="password">
                    <button id="login">login</button>
                    <p class="message">Not registered? <a>Create an account</a></p>
                </form>
            </div>
        </div>



        <!-- <div id="outer-cont">
            <h1>Login</h1>
            <div id="form-container">
                <form action="/scripts/login.js" id="login-form">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="password">
                    </div>
                    <button id="submit-btn" form="login-form">Login</button>
                </form>
            </div>
        </div> -->

        
    </main>
    <footer>Jonathan T Crepeau</footer>
</body>
</html>