@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/* ANCHOR - v1 styling */

/* #outer-cont {
    border: black 2px solid;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
} */

/* #login-form {
    text-align: center;
} */

/* .form-group {
    text-align: right;
    padding: 5px 0;
} */

/* #submit-btn {
    width: 100px;
    background-color: var(--blue);
    color: white;
    margin: 10px 0;
} */


/* ANCHOR - v2 styling */

#outer-cont {
    width: 350px;
    font-family: "Open Sans", sans-serif;
}

#inner-cont {
    max-width: 360px;
    background-color: peachpuff;
    padding: 35px;
    position: relative;
    text-align: center;
}

#inner-cont input {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0 0 15px;
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
}

#inner-cont button {
    font-family: "Open Sans", sans-serif;
    background-color: var(--blue);
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.message {
    font-size: 12px;
    margin: 15px 0 0;
}

.message a {
    text-decoration: none;
}

#registration-form {
    display: none;
}