@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;600&display=swap');

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


#outer-cont {
    width: 350px;
    font-family: "Open Sans", sans-serif;
}

#inner-cont {
    max-width: 360px;
    background-color: var(--black-200);
    padding: 35px;
    position: relative;
    text-align: center;
}

.input-field {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0 0 15px;
    background-color: var(--black-50);
    border: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
}

.input-field::placeholder {
    color: var(--black-800);
}

#inner-cont button {
    font-family: "Open Sans", sans-serif;
    background-color: var(--succ-600);
    color: var(--black-main);
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.message {
    font-size: 14px;
    margin: 15px 0 0;
}

.message a {
    text-decoration: underline;
    color: var(--primary-main);
}

#registration-form {
    display: none;
}

.alert {
    margin: -13px 10px 10px;
    float: left;
    box-sizing: border-box;
    color: var(--fail-900);
    transition: all 0.2s ease;
}

.input-error {
    border: 2px solid var(--fail-900);
    background-color: var(--fail-50);
}

.input-error::placeholder {
    color: var(--black-main);
    font-weight: 600;
    letter-spacing: 0.1px;
}