:root {

/* Primary Colors */
--primary-900: #0000ef;
--primary-800: #0013f2;
--primary-700: #0019f7;
--primary-main: #3422ff;
--primary-500: #4926ff;
--primary-400: #724cff;
--primary-300: #926fff;
--primary-200: #b49aff;
--primary-100: #d3c3ff;
--primary-50: #efe6ff;
    
/* Triadic Purple: */
--purple-900: #8600c8;
--purple-800: #af00d0;
--purple0-700: #c500d4;
--purple-600: #dd00d8;
--purple-500: #ee00db;
--purple-400: #fc00e8;
--purple-main: #ff22ed;
--purple-200: #ff7ef1;
--purple-100: #ffb6f6;
--purple-50: #ffe2fc;

/* Triadic Red */
--red-900: #c40003;
--red-800: #d20915;
--red-700: #de181e;
--red-600: #f02723;
--red-main: #ff3422;
--red-400: #fa4942;
--red-300: #f06d6a;
--red-200: #f89794;
--red-100: #ffcbcf;
--red-50: #ffeaed;

/* Black Palette */
--black-main: #000000;
--black-800: #262626;
--black-700: #434343;
--black-600: #555555;
--black-500: #7b7b7b;
--black-400: #9d9d9d;
--black-300: #c4c4c4;
--black-200: #d9d9d9;
--black-100: #e9e9e9;
--black-50: #f5f5f5;

/* Failure Palette */
--fail-900: #c40003;
--fail-700: #de181e;
--fail-main: #ff3422;
--fail-300: #f06d6a;
--fail-100: #ffcbcf;
--fail-50: #ffeaed;

/* Success Palette */
--succ-800: #00be00;
--succ-600: #00ea00;
--succ-main: #22ff34;
--succ-200: #a5ff9a;
--succ-50: #ebffe7;


}

* {
    padding: 0;
    margin: 0
}

body {
    height: calc(100vh + 30px);
}


/* SECTION - <header> element: */

header {
    height: 100px;
    background-color: var(--primary-main);

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

nav {
    height: 40px;
    width: 800px;
    margin: 0 auto;
    /* background-color: white; */
}

#drop-down {
    float: right;
    height: 86px;
    width: 250px;
    position: relative;
    z-index: 3;
    /* outline: var(--orange) 1px solid; */

    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
}

#drop-down.closed {
    height: 40px;
}

.nav-link {
    border-bottom: 3px solid var(--black-main);
}

#drop-down li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;

    background-color: var(--primary-main);
    color: white;
}

#drop-down.closed li:first-child a:after {
    content: "\25BC";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

#drop-down li:first-child a:after {
    content: "\25B2";
    float: right;
    width: 50px;
    font-size: 1.2rem;
    margin-left: -50px;
}

/* SECTION - <main> element: */

main {
    min-height: calc(100vh - 100px);
    width: 800px;
    margin: 0 auto;
    /* outline: 1px black solid; */
}

/* .alert {
    margin: -13px 10px 10px;
    float: left;
    box-sizing: border-box;
    color: #c21f34;
    transition: all 0.2s ease;
}

.input-error {
    border: 2px solid #c21f34;
    background-color: #ebbcc2;
}

.input-error::placeholder {
    color: black;
    font-weight: 600;
    letter-spacing: 0.px;
} */


/* SECTION - <footer> element: */

footer {
    height: 30px;
    line-height: 30px;
    background-color: var(--primary-50);
    color: var(--black-800);
    text-align: center;
}