/* ANCHOR ------------------------------------*\
  # Navigation Drop Down Menu
\*--------------------------------------------*/

/* NOTE - To accomodate for the height of the 'logout' section of the drop-down navigation. */

#drop-down {
    height: 129px;
}





/* ANCHOR ------------------------------------*\
  #'Refine Search' Drop Down
\*--------------------------------------------*/

#search-dropdown {
    width: 100%;
    background-color: var(--black-200);
    margin: 0 auto;

    overflow: hidden;
    position: relative;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    transition: height 0.3s ease;
}

#search-dropdown.closed {
    height: 40px;
}

#search-title {
    font-size: 20px;
    line-height: 40px;
}

.search-group {
    font-size: 20px;
    letter-spacing: 0.2px;
    padding: 15px 0;
    border-bottom: 1.5px solid black;
}


#result-cont {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}





/* ANCHOR ------------------------------------*\
  #Cards - Individual Styling Version1
\*--------------------------------------------*/


/* .card {
    outline: 5px black solid;
    height: 700px;
    width: 600px;
    margin: 20px 0;
    border-radius: 40px;    
    position: relative;
    z-index: 1;


    transition: height 0.3s ease;
}

.card.closed {
    height: 550px;
}

.card__photo {
    background-color: lightpink;
    height: 400px;
    width: 600px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card__info {
    background-color: peachpuff;
    height: 300px;
    width: 600px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;

    transition: height 0.3s ease;
}

.card__info.closed {
    height: 150px;
}

.card__header {
    /* background-color: white; */
    /* border-top: 2px black solid;
    border-bottom: 2px black solid;
    height: 50px;
    line-height: 50px;

    display: flex;
    flex-flow: row nowrap;
}

.card__title {
    width: 500px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.card__btn {
    width: 50px;
    font-size: 2rem;
}

.card__fav {
    width: 50px;
    font-size: 2.5rem;
}

.card__writtenDesc {
    padding: 20px;
    font-size: 20px;
}

.tags {
    font-size: 17px;
}

.attr {
    text-transform: uppercase;
}

.starColor {
    color: #08DB84;
}

img {
    max-height: 380px;
    max-width: 580px;
    border-radius: 5%;
    border: groove 3px black;
} */





/* ANCHOR ------------------------------------*\
  #Cards - Individual Styling Version2
\*--------------------------------------------*/

.card {
    height: 700px;
    width: 600px;
    box-sizing: border-box;
    background-color: var(--black-200);
    margin: 25px;
}

.card__header {
    height: 120px;
    width: 100%;
    background-color: var(--red-200);

    display: flex;
    flex-flow: row nowrap;
}

.card__pet-photo {
    height: 120px;
    width: 120px;
    border: 1px red solid;
    box-sizing: border-box;
    padding: 10px;
}

.card__pet-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px black dashed;
}

.card__pet-titles {
    height: 120px;
    width: calc(100% - 240px);
    border: 1px blue solid;
    box-sizing: border-box;
}

.card__favorite-icon {
    height: 120px;
    width: 120px;
    border: 1px red solid;
    box-sizing: border-box;
}

.card__hero-photo {
    height: 340px;
    width: 100%;
}

.card__text {
    height: 240px;
    width: 100%;
    background-color: var(--purple-200);
}