
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card {
    outline: 2px red solid;
    height: 700px;
    width: 600px;
    margin: 20px 0;
    border-radius: 40px;

    transition: height 0.3s ease;
}

.card.closed {
    height: 550px;
}

.card__photo {
    background-color: lightpink;
    height: 400px;
    width: 600px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.card__info {
    background-color: peachpuff;
    height: 300px;
    width: 600px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;

    transition: height 0.3s ease;
}

.card__info.closed {
    height: 150px;
}

.card__header {
    /* background-color: white; */
    border-top: 2px black solid;
    border-bottom: 1px black solid;
    height: 50px;
    line-height: 50px;

    display: flex;
    flex-flow: row nowrap;
}

.card__title {
    width: 550px;
    text-align: center;
}

.card__btn {
    width: 50px;
    font-size: 2rem;
}

img {
    max-height: 380px;
    max-width: 580px;
}